<%if signed_in? %>
Hello World Welcome <%= current_user.name %> You are signed in. Please <%=link_to "click here", signout_path%> to signout.

This is where we will display your friends portfolios to view.

<%else%>
<div class="background-image">
  <div class="landing-container">
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
<div data-0="background-color:rgb(0,0,255);" data-500="background-color:rgb(255,0,0);">WOOOT</div>
    <div class="hero-container">
      <h1>Volatility App</h1>
You are not signed in. Please <%=link_to "Log in", login_path, class: "btn" %> or <%=link_to "Register", register_path, class: "btn" %> for an account.
    </div>
  </div>
</div>

<%end%>
