<div class="main-container">
      <div class="main-header">
        <h1>Add Assets to your Portfolio</h1>
      </div>
      <div class="add-asset-table">
        <table>
          <tr>
            <td>Ticker</td>
            <td># of Shares</td>
            <td>Cost Basis</td>
            <td>Date Purchased</td>
          </tr>
          <tr>
            <td><input type="text" name="Ticker" value=""></td>
            <td><input type="number" name="Ticker" value=""></td>
            <td><input type="number" name="Ticker" value="$"></td>
            <td><input type="date" name="Ticker" value=""></td>
          </tr>
        </table>
      </div>
      <div class="submit-button">
        <a href="#" class="add-asset-button">+ Add to Portfolio</a>
      </div>
      <div class="main-header">
        <h1>Currently in your Portfolio</h1>
      </div>
      <div class="currently-table">
        <table>
            <tr>
              <td>Ticker</td>
              <td># of Shares</td>
              <td>Cost Basis</td>
              <td>Date Purchased</td>
            </tr>
            <!--this is where we'd add lines via javascript, tr and td-->
        </table>
      </div>
    </div>
