
<% if !locals[:editpage	].nil? then %>
<li>
      <%= link_to portfolio.portfolio_name, edit_portfolio_path(portfolio.id) %>

</li>

<%else%>
<li>
      <%= link_to portfolio.portfolio_name, portfolio %>

</li>
<%end%>