<% unless locals[:editpage].nil? then %>



   <div class="portfolio-box-container">
   <%= link_to portfolio.portfolio_name, edit_portfolio_path(portfolio.id),class: 'portfolio-box'%>
   <%= link_to image_tag("closebutton.png"), portfolio, method: :delete, confirm: "Are you sure?", class: 'portfolio-delete'%>
 	</div>




<%else%>
<li>
      <%= link_to portfolio.portfolio_name, portfolio %>

</li>
<%end%>
