<div class="main-container">
      <div class="main-header">
        <h1>Account Settings</h1>
      </div>
      <div class="accountsettings">
        <table>
          <tr>
            <td>Name</td>
            <td><input type="text" name="Ticker" value=""></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input type="text" name="Ticker" value=""></td>
          </tr>
          <tr>
            <td>Current Password</td>
            <td><input type="text" name="Ticker" value=""></td>
          </tr>
          <tr>
            <td>New Password</td>
            <td><input type="text" name="Ticker" value=""></td>
          </tr>
        </table>
      </div>
      <div class="submit-button">
        <a href="#" class="add-asset-button">Save Settings</a>
      </div>

    </div>
