<div class="footer">
  <div class="footer-content">
      <p>A <a href="https://github.com/chowza" target="_blank">Chowza</a> & <a href="https://github.com/Brandonmchu" target="_blank">BC</a> production</p>
  </div>
</div>
