
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import "bootstrap";
$mainfont: 'ProximaNova';
$texture: url('textures/concrete_wall.png') repeat;

/*colors*/
$headerfontcolor: rgb(240, 240, 240);
$blue: rgb(0, 136, 204);




@font-face{
  font-family: 'ProximaNova';
  src:font-url('ProximaNova-Regular.otf');
  font-weight: normal;
}

@font-face{
  font-family: 'ProximaNova';
  src:font-url('ProximaNova-Light.otf');
  font-weight: 100;
}

@font-face{
  font-family: 'ProximaNova';
  src:font-url('ProximaNova-Bold.otf');
  font-weight: bold;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html{
  min-height:100%;
  overflow-y:scroll;
}

body{
  font-family: $mainfont;
  width:100%;
  line-height: 1;
  position:absolute;
}

.spacer{
  height:50px;
}

.container{
  width:inherit;
}

/*undo-ing bootstrap*/
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-image: none;
  filter: none;
  background-color:$headerfontcolor;
  color:#333 !important;
}


/*Main Content*/

.main-container{
  width:1000px;
  margin:auto;
  margin-top:70px;
  min-height:100%;
}

.main-content{
height:100%;
padding:50px 0 20px 0;
  h1 {
    text-align:center;
    font-size:50px;
  }
  h2 {
  text-align:center;
  font-size:30px;
  margin:30px 0 30px 0;
  }

}

/*Navigation Bar*/

.navigation {
  background: $texture;
  height: 70px;
  color: $headerfontcolor;
  width:100%;
  position:fixed;
  top:0;
  z-index:2;
  font-family: $mainfont;

  .navigation-inner {
    height:100%;
    width:1000px;
    margin:auto;

    .header-logo{
      width:30%;
      height:100%;
      float:left;
      p {
      font-size:40px;
      margin-top: 15px
      }
      #blueify {
        color:$blue;
      }
    }

    .navigation-menu {
      width:70%;
      height:100%;
      float:right;
      text-align: right;
      line-height: 20px;

      .dropdown {
          list-style-type: none;
          margin-top: 25px;

          a {
            font-size:25px;
            text-decoration: none;
            color:$headerfontcolor;
            b {
              border-top:7px solid $blue;
            }
          }
          ul {
              background: $texture;
            }

          .dropdown-menu {



            a {
              font-size: 16px;
            }
          }
      }
    }

  }
}




/*show page*/

.graph-container{
  padding:5px 5px 5px 5px;
  -webkit-box-shadow: 0px 4px 8px rgba(50, 50, 50, 0.51);
  -moz-box-shadow:    0px 4px 8px rgba(50, 50, 50, 0.51);
  box-shadow:         0px 4px 8px rgba(50, 50, 50, 0.51);
}

/*manage page css*/


input[type="date"]{
  color:#999;
  font-size:inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.add-asset-container{
  background-color: #333;
  padding: 20px 0 20px 0;
  margin-top:50px;
  border-radius: 5px 5px 5px 5px;
-webkit-box-shadow: 0px 0px 3px rgba(49, 53, 58, 1);
-moz-box-shadow:    0px 0px 3px rgba(49, 53, 58, 1);
box-shadow:         0px 0px 3px rgba(49, 53, 58, 1);
  p {
      font-size:20px;
      text-align:center;
      color:#FFF;
  }
}

.submit-button{
  text-align: center;
  padding:30px 0 10px 0;
}

.user-portfolios li{
  text-decoration: none;
  display:inline;
}

#portfolio-title {
  font-size:20px;
  text-align: center;
}

.portfolio-list{
  margin: 0 0 30px 0;
}

.portfolio-box-container{
  width:22%;
  height:150px;
  float:left;
  background-color:#EEE;
  margin: 5px 1% 5px 1%;
  color:#333;
  display:block;
  position:relative;
}

.portfolio-box{
  width:100%;
  height:90px;
  font-size:20px;
  padding:60px 0 0px 0;
  text-align: center;
  border: 1px dashed #333333;
  float:left;
  background-color:#EEE;
  color:#333;
  position:absolute;
  &:hover {
    border: 1px dashed #111;
    background-color:#CCC;
    color:#111;
    text-decoration: none;
  }
}

.portfolio-delete{
  top:5%;
  right:5%;
  position:absolute;
  z-index:1;
  opacity:0;
  filter:alpha(opacity=0);
}

.portfolio-name {
  width:100%;
  padding:30px 0 30px 0;
  text-align: center;


  input {
    font-size: 15px;
    text-align: center;
  }
}

.assettext{
}
.inputfield{
  display:none;
}

.inputfield input{
  width: 7em;
  height: 1em;
  margin: 0 0 0 0;
  line-height:0;
  text-align: center;
}

.editbutton{
  color: #0088cc;
  &:hover{
  cursor: pointer;
  color: #0088cc;
  text-decoration: underline;
  }
}

.savebutton{
  vertical-align: baseline;
  background:none;
  border:none;
  display:none;
  color: #0088cc;
  font-size: 15px;
  &:hover{
  cursor: pointer;
  color: #0088cc;
  text-decoration: underline;
  }
}
.savecancelslash{
  color: #0088cc;
  display: none;
}
.cancelbutton{
  display:none;
  color: #0088cc;
  &:hover{
  cursor: pointer;
  color: #0088cc;
  text-decoration: underline;
  }
}

/*buttons*/

.button-container {
  margin-top:30px;
  text-align: center;

.vol-button {
  background-color:$blue ;
  font-family: $mainfont;
  font-size: 30px;
  border: none;
  padding:15px 15px;
  margin: 10px 0 10px 0;



}
  input:hover {
  background-color:rgb(34,139,34);
  }
}

/* New Portfolio + Assets page */

#new-asset-table {

    .assetinputfields{
      td:last-child{
        width:12%;
        text-align: center
      }
      td{
        width:22%;
        padding-top:5px;
        padding-bottom:5px;
        vertical-align: top;
        input[type="date"]{
          width:80%;
          font-size: 15px;
        }

        input {
          width:80%;
          display:block;
          margin: auto;
         }

        a{
          margin-top: 0px;
          padding-top: 0px;
        }
      }
    }

}

  #add-another-link {
    padding:10px 0 10px 0;
    text-align: center;
  }


/* Edit Portfolio Page  */

.currently-table{
  table {
    margin:auto;
    tr{
      th{
        font-size:20px;
        text-align:center;
      }
      td{
        text-align:center;
        padding:5px 0 5px 0;
      }
    }
  }
}

#overlay {
     visibility: hidden;
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%; 
     text-align:center;
     z-index: 1000;
     background-color:rgba(105,105,105,0.8);
     #modalpopout {
         width:500px;
         margin: 100px auto;
         background-color: #fff;
         border:1px solid #000;
         padding:15px;
         text-align:center;

     }
}

/*account settings page css*/

.accountsettings table{
  margin:auto;
  tr{
    td{
      font-size:25px;
      padding:5px 25px 5px 25px;
      text-align:left;
      input{
        padding:5px 0 5px 0;
        width:250px;
        height:50px;
        text-align:center;
      }
    }
  }
}

.add-asset-button{
  text-align: center;
}

.asset-form-container {
  display: none;
}

#chart{
  width:740px;
  height:396px;
}

/* footer */

.footer {
  width:100%;
  background: $texture;
  height:50px;
  float:left;
  margin-top: 30px;
  bottom:0;

  p{
    color:white;
    padding-top:20px;
    float:right;
  }
  .footer-content{
    width:1000px;
    margin:auto;
  }

}
